* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px;
  }
  
  .nav-bar {
    display: flex;
  }
  
  li {
    list-style-type: none;
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
   nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
  }
  
  .logo span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sub-title {
    font-size: large;
    letter-spacing: 2px;
    font-weight: bold;
    
  }
  .title {
    font-size: 12px;
  }
  
  .logo {
    margin-left: 1%;
  }