a:hover {
  cursor: pointer;
}

* {
  color: #000000;
}

.call-to-action {
  padding-block: 70px;
}

.call-to-action-content {
  height: 50vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  row-gap: 60px;
}

.call-to-action .text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.call-to-action .text-wrapper h1 {
  font-size: 4rem;
}

.call-to-action .text-wrapper h2 {
  font-size: 2rem;
  font-weight: normal;
}

.call-to-action .store-btn {
  padding: 25px 70px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

.categories-content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.categories-content ul {
  display: flex;
  justify-content: space-around;
}

.categories-content li {
  text-align: center;
}

.categories-content img {
  width: 150px;
}

.featured-content {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.featured-content .featured-items {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.featured-items .item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

.featured-items .left-content {
  flex-direction: row-reverse;
}

.featured-items .item-content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
  flex-basis: 50%;
}

.featured-items .item-content h4 {
  font-size: 2rem;
  font-weight: normal;
}

.featured-items .item-content h3 {
  font-size: 2.25rem;
}

.featured-items .item-content p {
  font-size: 1.5rem;
  text-wrap: wrap;
}

.featured-items .item-content a {
  font-weight: bold;
}

.featured-items .image-wrapper img {
  width: 350px;
  flex-basis: 50%;
}

.press-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: end;
}

.press-content .title-wrapper {
  text-align: end;
}

.press-items {
  display: flex;
  row-gap: 78px;
  column-gap: 192px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 10px;
}

.press-items .item {
  text-align: center;
  max-width: 400px;
}

.press-items .item h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.press-items .item p {
  font-size: 1.25rem;
}

.press-items .item:nth-of-type(3) {
  flex-basis: 100%;
}

footer {
  background-color: black;
  padding-block: 60px;
}

.footer-content {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.site-information {
  display: flex;
  text-align: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.site-information ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.site-information a,
.site-information p,
.copyright p {
  color: #ffffff;
  font-size: 1.15rem;
}

.site-information p {
  max-width: 300px;
}

.copyright {
  text-align: center;
}
